html {
  font-family:
    -apple-system,
    Segoe UI,
    Helvetica,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Hiragino Kaku Gothic ProN,
    Yu Gothic,
    Meiryo,
    sans-serif;
  font-size: 16px;
  line-height: 1.4;
}
