@import './variables.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.75rem;
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--white);
  color: var(--black);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;

  .header-logo {
    width: 40px;
    height: 50px;
    object-fit: cover;
  }

  .header-title {
    font-weight: 700;
    font-size: calc(20 / 16 * 1rem);
    color: var(--dark-green);
  }
}

.divider {
  width: 100%;
  border: none;
  border-top: 1px solid var(--dark-green);
  margin: -0.3rem 0;
}

.overview {
  font-size: calc(15 / 16 * 1rem);
}

.selector {
  font-size: calc(15 / 16 * 1rem);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background-color: var(--light-green);
  border-radius: 4px;
  padding: 0.5rem;

  .selector-label {
    font-weight: 600;

    &::before {
      content: '◼︎';
      margin: 0 0.25rem;
    }
  }

  .selector-wrapper {
    position: relative;
    width: 95%;
    margin: 0 auto;

    select {
      display: block;
      width: 100%;
      height: 100%;
      background-color: var(--white);
      border: 1px solid var(--gray);
      border-radius: 4px;
      padding: 0.25rem 1.75rem 0.25rem 0.5rem;
      cursor: pointer;
    }

    &:hover {
      filter: brightness(1.2);
    }
  }
}

.legend {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5rem 0 0 0;
  gap: 0.5rem;
  max-height: calc(15px * 4 + 0.5rem * 3 + 1rem);

  .legend-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  .legend-color {
    width: 30px;
    height: 15px;
    border: 1px solid var(--gray);
    border-radius: 2px;
  }

  .legend-label {
    font-size: calc(15 / 16 * 1rem);
    line-height: 1;
  }
}

.link {
  color: var(--dark-green);
  font-weight: 500;

  &:hover {
    filter: brightness(1.2);
    text-decoration: underline;
  }
}

.icon-down-arrow {
  position: absolute;
  top: 8px;
  right: 12px;
  width: 10px;
  height: 10px;
  border-bottom: 1.5px solid var(--gray);
  border-right: 1.5px solid var(--gray);
  transform: rotate(45deg);
  pointer-events: none;
}
